<h1>マイページ</h1>
<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿ルート一覧</h2>
<% @user.tours.each do |t| %>
  <%= t.title %>
  <%= t.body %>
  <%= link_to "サイトへ", t.link %>
  <%= t.genre %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
<% end %>

<h2>ユーザーの投稿宿泊先一覧</h2>
<% @user.camps.each do |t| %>
  <%= t.title %>
  <%= t.body %>
  <%= t.link %>
  <%= t.genre %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_tours.each do |t| %>
  <%= t.title %>
  <%= t.body %>
  <%= t.link %>
  <%= t.genre %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
<% end %>
<!-- ここまで-->

<%= link_to "Tour一覧に戻る", tours_path %>
<%= link_to "宿泊先一覧に戻る", camps_path %>