<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="/stylesheets/tours.scss">
  </head>
  <main>
   <div class="main1">
    <h3>ルート一覧</h3>
     <%= form_tag({controller:"tours",action:"index"}, method: :get) do %>
       <%= text_field_tag :search %>
       <button type="submit" class="button1"> 
        <i class="fas fa-search"></i> 検索
       </button>
    <% end %>
   </div>
   <div class="main2">
    <%= link_to "新規投稿へ", new_tour_path %>
   </div>

    <%= page_entries_info @tours %>
    <div class="tours-container">
      <% @tours.each do |t| %>
      <div class="tours">
        <div class="tours1">
          <%= t.title %>
          <i class="fas fa-map-marker-alt"></i><%= t.genre %>
        </div>
          <% if t.image? %>
            <%= link_to (image_tag t.image_url, size: "300x300"), tour_path(t.id)  %>
          <% else %>
            <%= link_to (image_tag "/images/no-image.jpg"), tour_path(t.id) %>
          <% end %>
        <div class="tours2">
            <a href="/users/<%= t.user.id %>"><i class="fas fa-user-circle"></i><%= t.user.name %></a>
            <%= t.site %>
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= link_to tour_like_path(id: t.id, tour_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to tour_likes_path(id: t.id, tour_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
          <% else %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
            <%= t.created_at.to_s(:datetime_jp) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
              <%= link_to "編集する", edit_tour_path(t.id) %>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <%= paginate @tours %>

    <h3>ランキング</h3>
    <div class="tours-container">
      <% @rank_tours.each do |t| %>
      <div class="tours">
          <%= t.title %>
          <%= t.genre %>
          <% if t.image? %>
            <%= image_tag t.image_url, size: "300x300" %>
          <% else %>
            <%= image_tag "/images/no-image.jpg" %>
          <% end %>
          <a href="/users/<%= t.user.id %>"><i class="fas fa-user-circle"></i><%= t.user.name %></a>
          <%= t.site %>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= link_to tour_like_path(id: t.id, tour_id: t.id), method: :delete do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% else %>
              <%= link_to tour_likes_path(id: t.id, tour_id: t.id), method: :post do %>
                  <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% end %>
        <% else %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
          <%= t.created_at.to_s(:datetime_jp) %>
          <%= link_to "詳細へ", tour_path(t.id) %>
      </div>
      <% end %>
    </div>

  </main>
</html>

