<div class="tour">
  <p><%= @tour.title %></p>
  <p><%= @tour.body %></p>
  <p><%= link_to @tour.link %></p>
  <p><%= @tour.genre %></p>
  <p><%= image_tag @tour.image_url, size: "250x200" if @tour.image? %></p>
  <p><%= @tour.created_at %></p>
  <% if user_signed_in? %>
      <% if current_user.already_liked?(@tour) %>
          <%= link_to tour_like_path(@tour), method: :delete do %>
             <i class="fas fa-heart"></i><%= @tour.likes.count %>          
          <% end %>
      <% else %>
          <%= link_to tour_likes_path(@tour), method: :post do %>
             <i class="far fa-heart"></i><%= @tour.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= @tour.likes.count %>
  <% end %>
</div>

<h2>いいねしたユーザー</h2>
<% @tour.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |d| %>
    <div>
      <%= d.user.email unless d.user.blank? %>
      <br>
      <%= d.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tour, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <%= link_to "マイページへ", user_path(current_user.id) %>　
  <% end %>
</div>

<%= link_to "投稿一覧に戻る", tours_path %>
<%= link_to "編集する", edit_tour_path(@tour.id) %>
